{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}

<link rel="shortcut icon" href="resources/img/favicon.png" type="image/png">
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
<!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">

    <!-- custom styles -->
    

    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

     <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js" integrity="sha256-bX3ZexuPmm3WbMkCXTtmA9NxFzcS0QP6Jz4gowE6U3A="
        crossorigin="anonymous"></script>

{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}


<nav id="main-nav-inner" style="background-color: #f7ae38" class="navbar navbar-dark navbar-expand-lg flex-column p-0" >
    
    <button class="navbar-toggler mb-2" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    

    <div class="collapse navbar-collapse w-100" id="main-navbar" style="min-height: 80px;">
     <div class="logo d-flex justify-content-center" style="">
         <a class="nav-link text-center" style="background-color: white;
            padding: 0.5em;
            border-radius: 0px 0px 10px 10px;
            margin-top: 1em;
            
            max-width: 100px;
            max-height: 110px;" 
            >
            {{ apos.singleton(data.page, 'logoHeader', 'apostrophe-images', {
    aspectRatio: [ 1, 1 ],
    limit: 1,
    size: 'original'
  }) }}
        </a>
    </div> 
   <ul class="tabs navbar-nav ml-auto px-0 w-auto container mr-5">
  {% for tab in data.home._children %}
    <li class="
      {% if data.page and
        (apos.pages.isAncestorOf(tab, data.page) or tab._id == data.page._id)
      %}
        nav-item active
      {% endif %}
    "><a href="{{ tab._url }}">{{ tab.title }}</a></li>
  {% endfor %}
</ul>

</div>
</nav>



{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}

<footer class="inner-page d-flex align-items-center" style="background: linear-gradient(90deg, #FFFFFF 39.23%, rgba(255, 255, 255, 0) 100%), #F7AE38;
box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.25); height: 78px;">
  <div class="container">
    <div class="row">
      <div class="col-2 offset-md-0 col-md-1">
        {{ apos.singleton(data.page, 'logoHeader', 'apostrophe-images', {
    aspectRatio: [ 1, 1 ],
    limit: 1,
    size: 'original'
  }) }}
      </div>
      <div class="col-10 d-flex align-items-center justify-content-end">
        <nav>
          <ul id="helpsp" class="mb-0">
            <li class="d-inline-block mx-1"><a href="#" data-toggle="modal" data-target="#contact-modal">


{{ apos.singleton(data.page, 'contactModalsp', 'apostrophe-rich-text', {
  toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
 
}) }}
          
              </a></li>
            <li class="d-inline-block mx-1"><a href="#" data-toggle="modal" data-target="#policy-modal">
              
              {{ apos.singleton(data.page, 'policyModalsp', 'apostrophe-rich-text', {
 toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
  
}) }}

            </a></li>
            <li class="d-inline-block mx-1"><a href="#" data-toggle="modal" data-target="#term-modal">
              
{{ apos.singleton(data.page, 'termModalsp', 'apostrophe-rich-text', {
  toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
  
}) }}

            </a></li>

          
          </ul>

          <ul id="helpen" class="mb-0">
            <li class="d-inline-block mx-1"><a href="#" data-toggle="modal" data-target="#contact-modal">


{{ apos.singleton(data.page, 'contactModalen', 'apostrophe-rich-text', {
  toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
 
}) }}
        
              
                
              </a></li>
            <li class="d-inline-block mx-1"><a href="#" data-toggle="modal" data-target="#policy-modal">
              


{{ apos.singleton(data.page, 'policyModalen', 'apostrophe-rich-text', {
 toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
  
}) }}


            </a></li>
            <li class="d-inline-block mx-1"><a href="#" data-toggle="modal" data-target="#term-modal">

{{ apos.singleton(data.page, 'termModalen', 'apostrophe-rich-text', {
  toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
  
}) }}


            </a></li>

            
            
          </ul>

        </nav>
      </div>
    </div>
  </div>
</footer>



  <!-- Modal for contact form -->
  <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-title" aria-hidden="true" style="padding-left: 34px;
    padding-right: 34px;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="container modal-content">
        <div class="modal-header flex-column text-center pb-0" style="height: 3em;">
          
          <!-- <h4 class="modal-title text-uppercase" id="contact-modal-title"><b>Contact us</b></h4> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pl-0 pt-0">
          <div class="container ">
            <div class="row align-items-start">
              <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center" style="padding-left: 0;">
                
                <div class="logo-container col-12 img-fluid" style="height: 11em; max-width: 12em;">
                   {{ apos.singleton(data.page, 'logoHeader', 'apostrophe-images', {
    aspectRatio: [ 1, 1 ],
    limit: 1,
    size: 'original'
  }) }}
                </div>
<div class="col-12" style="height: 20px"></div>

                <div class="col-12 text-center" style="background: #F7AE38;">
                <p class="text-uppercase" style="font-size: 2em"> <strong>Informaci&oacute;n</strong> </p>
              </div>


<div class="col-12" style="height: 20px"></div>

<div class="col-12 text-center">
  <i class="fa fa-phone-square" style="font-size: 2em;"></i>
</div>
<div class="col-12 text-center">
  <p style="font-size: 1.5em">01 322 297 0157</p>
</div>

<div class="col-12" style="height: 20px"></div>

<div class="col-12 text-center">
  <i class="fa fa-envelope" style="font-size: 2em;"></i>
</div>
<div class="col-12 text-center">
  <p style="font-size: 1.5em">info@agenciabesthings.com</p>
</div>

<div class="col-12" style="height: 20px"></div>




    
    <div class="col-12">
      <div class="map-container p-2" style="background-color: #4D4F76;
  color: #FFF;">
        <p><i class="fa fa-map-marker-alt" style="color: white;"></i> Avenida Paseo Cocoteros S/N Col. Real entre Retorno Veracruz y y Retorno Cozumel, Nuevo Vallarta, municipio Bahia de Banderas, Nayarit. CP 63735</p>
        <div id="map-modal" style="height: 15vw;"></div>
      </div>
    </div>
    </div>
    <div class="col-12 col-lg-6 text-center">

          <br>
<div class="col-12" style="text-align: left;">
  <div style="
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
      color: #4D4F76;">
      <i>
         {{ apos.singleton(data.page, 'titleFormContact', 'apostrophe-rich-text', {
             toolbar: [ 'Bold', 'Italic']
           }) }}  
      </i>
    </div>
</div>
      
    <form action="SendEmail.aspx?type=C" method="post">
      <div class="form-group">
        
                   
      <label  class="d-block" for="usepro-names"><span class="sr-only"></span></label>
      <input id="nombre" type="text" name="user-names" id="user-names" class="form-control" aria-describedby="helpId" required>
    </div>
    <div class="form-group">


    <label  class="d-block" for="user-surnames"><span class="sr-only"></span></label>
    <input id="apellido" type="text" name="user-surnames" id="user-surnames" class="form-control" aria-describedby="helpId" required>
    </div>


    <div class="form-group">
      <label class="d-block" for="user-email"><span class="sr-only"></span></label>
      <input type="email" name="user-email" id="user-email" class="form-control" placeholder="username@example.com*" aria-describedby="helpId" required>
    </div>
    <div class="form-group">

      
    <label class="d-block" for="user-telephones"><span class="sr-only"></span></label>
    <input  id="phone" type="tel" name="user-telephones" id="user-telephones" class="form-control" aria-describedby="helpId" required>
    </div>
    <div class="form-group">
    

    <label  class="d-block" for="contract-number"><span class="sr-only"></span></label>
    <input id="numberContract" type="text" name="contract-number" id="contract-number" class="form-control" aria-describedby="helpId">
    </div>
    <div class="form-group">

        
    <label  class="d-block" for="best-moment"><span class="sr-only"></span></label>
    <input id="encuesta" type="text" name="best-moment" id="best-moment" class="form-control"  aria-describedby="helpId" required>
    </div>
    <div class="form-group">

     
    <label id="mensaje" class="d-block" for="user-message"><span class="sr-only"></span></label>
    <textarea class="form-control" name="user-message" id="user-message" rows="5" required></textarea>
    </div>
    
    <div class="col-12" style="height: 20px"></div>

    <div style="text-align: right">

       
    <button id="enviar" type="submit" class="btn btn-aio text-center"></button>
    </div>
    
    </form>
    </div>
    </div>
    </div>
    <script>
      initMap = function () {
        var location = { lat: 20.7038242, lng: -105.3003856 };
        var map = new google.maps.Map(document.getElementById('map-modal'), { zoom: 16, center: location });
        var marker = new google.maps.Marker({ position: location, map: map });
      }         
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpkGTylz16XwkHfGuZkIX3WpO6vPfvaBQ&callback=initMap"></script>        
    </div>
    </div>
    </div>
  </div>
  <!-- Fin del MODAL CONTACT -->

<script type="text/javascript">
         
          var lan = new URLSearchParams(window.location.search).get("lan");
        if (lan == "sp" ){
         
                  document.getElementById("nombre").placeholder = "Nombre(s)*";
                  document.getElementById("apellido").placeholder =("Apellidos*");
                  document.getElementById("phone").placeholder = "Teléfonos*";
                  document.getElementById("numberContract").placeholder = "Número de contrato";
                  document.getElementById("encuesta").placeholder = "Cuál podría ser el mejor momento para contactarle?*";
                  document.getElementById("mensaje").placeholder = "Mensaje";
                  document.getElementById("enviar").innerHTML = 'Enviar';

        }
        else{
          document.getElementById("nombre").placeholder = "Name(s)*";
          document.getElementById("apellido").placeholder = "Surname*";
          document.getElementById("phone").placeholder = "Telephones*";
          document.getElementById("numberContract").placeholder = "Contract number";
          document.getElementById("encuesta").placeholder = " What would be the best moment to contact you?*";
          document.getElementById("mensaje").placeholder = "Message";
         document.getElementById("enviar").innerHTML = 'Send';
        
        }
        
        
      
        </script>


<!-- Modal for privacy policy -->
<div class="modal fade" id="policy-modal" tabindex="-1" role="dialog" aria-labelledby="policy-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content container">
      <div class="modal-header row">
        <div class="col-4 logo-container text-center">
          {{ apos.singleton(data.page, 'logoHeader', 'apostrophe-images', {
    aspectRatio: [ 1, 1 ],
    limit: 1,
    size: 'original'
  }) }}
        </div>
        <div class="col-8">
          <div class="col-8 d-flex align-items-center justify-content-center" style="border-bottom-style: solid;
          border-bottom-color: #F7AE38;
          border-top-style: solid;
          border-top-color: #F7AE38;
          height: 5em;">
          <h1 style="font-size: 36px;">
            <script type="text/javascript">
              
              if (true){
                Pol&iacute;ticas de Privacidad;
              }else{
                Privacy Policy;
              }
            </script>
            
          </h1>
          
        </div>
          
        </div>
        <!-- <h4 class="modal-title text-uppercase" id="policy-modal-title"><b>Privacy Notice</b></h4> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="textPrivacyPolicysp">
       {{ apos.singleton(data.page, 'textPrivacyPolicysp', 'apostrophe-rich-text', {
  toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
  
}) }}
</div> 
<div id="textPrivacyPolicyen">
{{ apos.singleton(data.page, 'textPrivacyPolicyen', 'apostrophe-rich-text', {
  toolbar: [ 'Bold', 'Italic', 'Link', 'Unlink', 'Anchor', 'Blockquote', 'Strike', 'Superscript']
  
}) }}
          
        </div>      
      </div>
    </div>
  </div>
</div>
<!-- FIND DEL Modal for privacy policy -->

<script type="text/javascript">
               var lan = new URLSearchParams(window.location.search).get("lan");

               if (lan != "sp") {
                 // $('[data-dot-path="contactModales"]').hide();
                 $("#helpsp").hide(); 
                  $("#textPrivacyPolicysp").hide();
                 
               }else{
                $("#helpen").hide();
                $("#textPrivacyPolicyen").hide();

              }
             
            </script>

{% endblock %}

{% block modals %}



{% endblock %}