@import "utils/reset.less";

// Delete the boilerplate CSS below when you are ready to dive in and customize your sites:
body { background-color: @apos-light; }


@media screen and (max-width: 992px) {
  .logo{
    position: relative;
  }
  }

  @media screen and (min-width: 992px) {
  #main-nav-inner{
height: 80px;
  }
  #main-navbar {
    height: 80px
  }
  .logo{
    margin-left: 5em;
     position: absolute;
    top: 0;
    left: 0;
  }
}
.map-container {
  background-color: #4D4F76;
  color: #FFF;
}

  #main-navbar li.active p {
    box-shadow: 0px 34px 0px 4px #4D4F76;
  }
  #main-navbar li:hover p {
    box-shadow: 0px 30px 0px 6px rgba(0, 0, 0, 0.5);
  }

.main-content {
  font-family: 'Karla', sans-serif;
  margin: 200px auto;
  padding: 20px;
  max-width: 500px;
  color: @apos-white;
  background-color: @apos-primary;
  .apos-drop-shadow;

  .login-link {
    float: right;
    color: @apos-white;
  }

  // Basic rich-text editor styles:
  h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  strong { font-weight: bold; }
  em { font-style: italic; }

  


}

.map-container {
  background-color: #4D4F76;
  color: #FFF;
}
.apos-image-widget-image-title{
    display: none;
  }

#main-nav {
  position: absolute;
  width: 100%;
  top: 0;
}
#main-nav-inner {
  z-index: 5;
}
#main-nav .nav-link, #main-nav button:not(.navbar-toggler) {
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  /* background: transparent;
  padding: 0.3rem 0.25rem;
  color: #FFF;
  display: block; */
}
#main-nav .nav-link:hover, #main-nav button:not(.navbar-toggler):hover {
  text-decoration: underline;
}
#main-nav .dropdown-toggle {
  color: #FFF;
  background-color: transparent;
}
#main-nav .dropdown-menu.show {
  -webkit-transform: translateY(0.32rem);
  -moz-transform: translateY(0.32rem);
  -ms-transform: translateY(0.32rem);
  -o-transform: translateY(0.32rem);
  transform: translateY(0.32rem);
}
#main-nav .dropdown-item {
  color: #FFF;
}
#main-nav .dropdown-item:hover, #main-nav .dropdown-item:focus {
  background-color: #D40A11;
}
